include ../text-field/text-field.pug
include ../dropdown/dropdown
-const dropdown = {formClass:'default-text-field-form', labelClass:'dropdown-label', labelText:'Dropdown', placeholder:'Сколько гостей', items:['спальни','кровати','ванные комнаты']}
mixin default-text-field-form()
    form.default-text-field-form.form
        +text-field({formClass:'default-text-field-form', labelText: 'text field', alternateText: 'default', placeholder: 'Email', altClass: 'mt-3'})
        +text-field({formClass: 'default-text-field-form', labelText: 'text field', alternateText: 'Hover / focus', value: 'This is pretty awesome'})
        +dropdown(dropdown)
        +text-field({formClass:'default-text-field-form', labelText: 'masked text field',placeholder:'ДД.ММ.ГГГГ', labelClass:'masked'})