include ../text-field/text-field.pug
include ../dropdown/dropdown
-const dropdown = {formClass:'default-text-field-form',labelText:'Dropdown',placeholder:'Сколько гостей',items:['Спальни','Кровати','Ванные комнаты']}
mixin default-text-field-form()
    form.default-text-field-form.form
        +text-field('default-text-field-form', 'text field','default','Email','','','mt-3')
        +text-field('default-text-field-form', 'text field','Hover / focus','','This is pretty awesome','','')
        +dropdown(dropdown)