include ../text-field/text-field.pug
mixin default-text-field-form()
    form.default-text-field-form.form
        +text-field('default-text-field-form', 'text field','default','Email')
        +text-field('default-text-field-form', 'text field','Hover/focus','','This is pretty awesome')