.default-text-field-form{
    margin-left:13rem;
    margin-top:10rem;
    width:32rem;
    &__label.dropdown-label{
        margin-bottom:2.256rem;
    }
    &__label{
        margin-bottom: 2rem;
    }
}