@import "../../../../../node_modules/vanillajs-datepicker/sass/datepicker.scss";
.date-dropdown{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &>.label>.dropdown{
    width:15rem;
  }
}
.datepicker{
  &-picker{
    display: block;
  }
  &-dropdown{
    position: relative;
  }
  &-grid{
    width: 100%;
  }
}