@use '../../variables.scss' as var;

.dropdown{
  font-family: Montserrat, Arial, sans-serif;
  cursor: pointer;
  margin-top:.5rem;
  color:var.$dark_shade75;
  font-size:1.4rem;
  line-height:1.8rem;
  font-weight: 400;
  text-transform: none;
  width:32rem;
  height:4.4rem;
  background: #FFFFFF;
  border: 1px solid var.$dark_shade25;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  &::placeholder{
    color:var.$dark_shade25;
  }
  &:hover, &:focus{
    outline:none;
    background: #FFFFFF;
    border: 1px solid var.$dark_shade50;
    box-sizing: border-box;
    border-radius: 4px;
  }
  &__item-content{
    padding:0 1.5rem;
    line-height: 4rem;
  }
  &__minus-btn{
    float:right;
    margin:.7rem;
  }
  &__amount{
    line-height: 4rem;
  }
  &__plus-btn{
    margin: .7rem;
    float:right;
  }
}
summary::-webkit-details-marker {
	display: none;
}

summary{
  padding:1.3rem 3.2rem 1.2rem 1.5rem;
	list-style: none;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &::after{
    content: 'expand_more';
    font-family: 'Material Icons';
    font-size:2.4rem;
    line-height: 4.4rem;
    text-align: center;
    position: absolute;
    right:0;
    top:0;
    width: 4.4rem;
    height: 4.4rem;
    color:var.$dark_shade75;
    transform: rotate(0deg);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
  }
}
.minus-btn{
  width:3rem;
  height:3rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid var.$dark_shade25;
  font-family: Montserrat, Arial, sans-serif;
  font-size:1.8rem;
  font-weight: 400;
  color: var.$dark_shade50;
  text-align: center;
  line-height: 2.8rem;
  cursor:pointer;
}
.item-container{
  position: absolute;
  top:100%;
  left:-1px;
  z-index: 2;
  user-select: none;
  cursor:default;
  width:32rem;
  display: flex;
  flex-direction: column;
  outline:none;
  background: #FFFFFF;
  border: 1px solid var.$dark_shade50;
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;
  font-weight: 700;
  text-transform: uppercase;
  font-size:1.2rem;
  color:var.$dark_shade100;
}
.item{
  width:100%;
  height:4rem;
}
.item-content{
  display:inline-block;
}
.plus-btn{
  width:3rem;
  height:3rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid var.$dark_shade25;
  font-family: Montserrat, Arial, sans-serif;
  font-size:1.8rem;
  font-weight: 400;
  color: var.$dark_shade50;
  line-height: 2.8rem;
  cursor:pointer;
}
.amount{
  float:right;
  width:1rem;
}
.minus-btn{
  font-family: Montserrat, Arial, sans-serif;
  font-size:1.8rem;
  font-weight: 400;
  color: var.$dark_shade50;
  float:right;
  width:3rem;
  height:3rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid var.$dark_shade25;
  text-align: center;
  line-height: 2.6rem;
  cursor:pointer;
}
.btn{
  text-align: center;
  &_disabled{
    opacity:.5;
    cursor:default;
  }
}