include ../components/form/default-text-field-form/default-text-field-form.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI Kit Form Elements
  body
    .logo
    .wrapper
      +default-text-field-form()
      //- form.form
      //-   label.form__label(for="") Text field
      //-     span.form__label_alternate.mt3 Default 
      //-     input.form__text(type="text", name="Text Field" placeholder="Email")       
      //-   label.form__label(for="") Text field
      //-     span.form__label_alternate Hover / Focus 
      //-     input.form__text(type="text", name="HoverText" value ="This is pretty awesome")     
      //-   label.form__label(for="") Dropdown
      //-     select(name="")
      //-       option(value="1")   
      //-       option(value="2")   
      //-       option(value="3")   
      //-   label.form__label(for="") Masked text Field
      //-     input.form__text_date(type="text", name="MaskedDate") 
      //-   label.form__label(for="") Date Dropdown
      //-     input.form__date(type="text", name="DateStart") 
      //-   label.form__label(for="") Date Dropdown
      //-     input.form__date(type="text", name="DateEnd") 
      //-   label.form__label(for="") Filter Date Dropdown
      //-     input.form__filter-date(type="text", name="FilterDate") 
      //-   label.form__label(for="") Subscription Text Field
      //-     input.form__email(type="email", name="Email") 
      //- form.form
      //-   label(for="") Checkbox buttons
      //-     input(type="checkbox", name="")
      //-     label Можно курить  
      //-     input(type="checkbox", name="") 
      //-     label Можно с питомцами
      //-     input(type="checkbox", name="")
      //-     label Можно пригласить гостей (до 10 человек)
      //-   label(for="") Radio buttons
      //-     input(type="radio", name="")
      //-     label Мужчина 
      //-     input(type="radio", name="")
      //-     label Женщина 
      //-   label(for="") Toggle
      //-     input(type="checkbox", name="")
      //-     span.toggle
      //-     span Получать спецпредложения
      //-     input(type="checkbox", name="")
      //-     span.toggle
      //-     span Получать спецпредложения
      //-   label(for="") Like button
      //-     button 2
      //-     button 12
      //-   label(for="") Rate button 
      //-     .rate
      //-       span
      //-       span
      //-       span
      //-       span
      //-       span
      //-     .rate
      //-       span
      //-       span
      //-       span
      //-       span
      //-       span
      //- form.form
      //-   label(for="") Range slider
      //-     input(type="range", name="")
      //-   label(for="") Buttons
      //-     button Click me   
      //-     button Click me   
      //-     button Click me   
      //-     button Click me
      //-     a Click me  
      //-     a Click me  
      //-     button Перейти к оплате
      //-   label(for="") Pagination 
      //-     .item-active 1
      //-     .item 2
      //-     .item 3
      //-     .item  ...
      //-     .item  15
      //-     .item-next
      //-     p 1-12 из 100+ вариантов аренды
      //- form.form
      //-   label(for="") Dropdown 
      //-     select(name="")
      //-       option(value="Спальни")          
      //-       option(value="Кровати")          
      //-       option(value="Ванные комнаты")      
      //-   label(for="") Expandable checkbox list
      //-     .expand-arrow
      //-   label(for="") Expandable checkbox list
      //-     input(type="checkbox", name="" value="Завтрак") 
      //-     input(type="checkbox", name="" value="Письменный стол") 
      //-     input(type="checkbox", name="" value="Стул для кормления") 
      //-     input(type="checkbox", name="" value="Кроватка") 
      //-     input(type="checkbox", name="" value="Телевизор") 
      //-     input(type="checkbox", name="" value="Шампунь") 
      //- form.form
      //-   label(for="") Dropdown 
      //-     select(name="")
      //-       option(value="Взрослые")          
      //-       option(value="Дети")          
      //-       option(value="Младенцы")
      //-   label(for="") Rich checkbox buttons 
      //-     input(type="checkbox", name="" value="Широкий коридор")
      //-     p Ширина коридоров в номере не менее 91 см.                
      //-     input(type="checkbox", name="" value="Помощник для инвалидов")
      //-     p На 1 этаже вас встретит специалист и проводит до номера.                    
      //- form.form
      //-   label(for="") Dropdown 
      //-     select(name="")
      //-       option(value="Взрослые")          
      //-       option(value="Дети")          
      //-       option(value="Младенцы")
      //-   p Rich checkbox buttons
      //-     ul
      //-       li Нельзя с питомцами
      //-       li Без вечеринок и мероприятий
      //-       li Время прибытия - после 13:00, а выезд до 12:00
            

