@import "~normalize.css";
h1{
    color:red;
    text-align:center;
}
.logo{
    background-image:url("../image.png");
    background-size: cover;
    height:500px;
    width: 300px;
    margin: 0 auto;
}