@import url(../components/form/form.scss);
@import url(../components/logo/logo.scss);
$dark_shade100: '#1F2041';
$dark_shade75: rgba(31,32,65,.75);
$dark_shade50: rgba(31,32,65,.50);
$dark_shade25: rgba(31,32,65,.25);
$dark_shade5: rgba(31,32,65,.5);
$purple: '#BC9CFF';
$green: '#6FCF97';


@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
html{
  font-size:10px;
}
h1{
  font-family: Montserrat, Arial, sans-serif;
  font-size:2.4rem;
  line-height: 2.9rem;
  font-weight: bold;
  color:$dark_shade100;
}
h2{
  font-family: Montserrat, Arial, sans-serif;
  font-size:1.9rem;
  line-height: 2.3rem;
  font-weight: bold;
  color:$dark_shade100;
}
h3{
  text-transform: uppercase;
  font-family: Montserrat, Arial, sans-serif;
  font-size:1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  color:$dark_shade100;
}
body{
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color:$dark_shade75;
  margin: 0 auto;
  max-width: 144rem;
  position: relative;
}
.mt3{
  margin-top:-.3rem;
}
.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0 1rem;
  padding-top: 4.3rem;
}
