@use '../../variables.scss' as var;

.text-field{ 
    font-family: Montserrat, Arial, sans-serif;
    color:var.$dark_shade75;
    font-size:1.4rem;
    line-height:1.8rem;
    width:32rem;
    height:4.4rem;
    background: #FFFFFF;
    border: 1px solid var.$dark_shade25;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top:.5rem;
    margin-bottom: 2rem;
    padding:1.3rem 1.5rem;
    &::placeholder{
      color:var.$dark_shade25;
    }
    &:hover, &:focus{
      outline:none;
      background: #FFFFFF;
      border: 1px solid var.$dark_shade50;
      box-sizing: border-box;
      border-radius: 4px;
    }
}